</header>

<section id="azul">
  	<div class="transazul">
		<%= render 'form' %>
	
		<div class="edit">	
			<%= link_to 'Show', @player %> 
			<%= link_to 'Back', players_path %>
		</div>
	</div>
</section>